<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Orpheus"
        tools:targetApi="31">
        <activity
            android:name=".presentation.activities.AllUsersAndBandsActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.UserActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.BandActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.ChatUserActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.ChatsActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.MapActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.ProfileEditActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.FeedActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.RegistrationTypeActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>